:root {
	scroll-behavior: smooth;
}

* {
    &,
    &::after,
    &::before {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
}

body {
	font-family: $font-family_1;
	background-color: $background-color_2;
}

a, button {
	display: inline-block;
	min-width: 44px;
	min-height: 44px;
}

a#skip {
    &,
    &:hover,
    &:active {
        position: absolute;
        top: -500px;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
	&:active,
    &:focus {
		position: static;
		display: inline-block;
		width: auto;
		height: auto;
		min-width: 44px;
		min-height: 44px;
		line-height: 44px;
	}
}

header {
	top: 0;
	position: sticky;
	padding: 10px 16px;
	width: 100%;
	background-color: $background-color_1;
	color: $color_1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 15px 5px #0006;
	z-index: 999;
}

#logo {
    position: relative;
    z-index: 2;
	h1 {
		font-family: $font-family_3;
		font-size: 24px;
		letter-spacing: 2px;
		color: $color_1;
	}
}

#hamburger {
    position: relative;
	min-width: 44px;
	min-height: 44px;
	display: inline-block;
	line-height: 44px;
	text-align: center;
	font-size: 24px;
	color: $color_1;
	text-decoration: none;
    z-index: 2;
}

#drawer {
	top: 51px;
	left: -100%;
	width: 250px;
	max-width: 100%;
	padding: 10px 0;
	position: absolute;
	background-color: $background-color_1;
	list-style: none;
	z-index: 1;
	transition: all .3s;
}

#drawer.open {
	left: 0;
	transition: all .3s;
}

.nav__item {
	width: 100%;
    padding: 10px 16px;
	a {
		display: inline-block;
		line-height: 44px;
		min-width: 44px;
		min-height: 44px;
		text-decoration: none;
		color: $color_1;
		i {
			margin-right: 8px;
		}
	}
	a.active {
		color: $color_2;
	}
}

div#hero {
	position: relative;
    overflow: hidden;
	z-index: 1;
	background-color: $background-color_4;
	border-bottom: 3px solid $color_2;
	img, source {
		width: 100%;
		filter: grayscale(100%) sepia(100%) brightness(18%) hue-rotate(360deg) saturate(301%) contrast(90%);
		-webkit-filter: grayscale(100%) sepia(100%) brightness(18%) hue-rotate(360deg) saturate(301%) contrast(90%);
		-moz-filter: grayscale(100%) sepia(100%) brightness(18%) hue-rotate(360deg) saturate(301%) contrast(90%);
	}
}

div#mainContent {
	background-color: $background-color_2;
}

.hero__description {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	color: $color_1;
	h1 {
		position: relative;
		font-family: $font-family_2;
		font-size: 1.3em;
		color: $color_2;
		margin-bottom: 10px;
		letter-spacing: 2px;
	}
	p {
		position: relative;
		font-size: 1em;
	}
	button {
		position: relative;
		display: inline-block;
		cursor: pointer;
		outline: none;
		border: 0;
		vertical-align: middle;
		text-decoration: none;
		background: transparent;
		padding: 0;
		font-size: 1rem;
		font-family: inherit;
	}
	button.btn_explore_now {
		margin-top: 20px;
		width: 12.5rem;
		height: auto;
		.circle {
			transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
			position: relative;
			display: block;
			margin: 0;
			width: 3rem;
			height: 3rem;
			background: $background-color_8;
			border-radius: 1.625rem;
			.icon {
				transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				background: #fff;
			}
			.icon.arrow {
				transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
				left: 0.625rem;
				width: 1.125rem;
				height: 0.125rem;
				background: none;
				&::before {
					position: absolute;
					content: "";
					top: -0.29rem;
					right: 0.0625rem;
					width: 0.625rem;
					height: 0.625rem;
					border-top: 0.140rem solid #000;
					border-right: 0.140rem solid #000;
					transform: rotate(45deg);
				}
			}
		}
		.button-text {
			transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 0.75rem 0;
			margin: 0 0 0 1.85rem;
			color: $color_2;
			font-weight: 700;
			line-height: 1.6;
			text-align: center;
			text-transform: uppercase;
		}
		&:hover {
			.circle {
				width: 100%;
				.icon.arrow {
					background: #000;
					transform: translate(1rem, 0);
				}
			}
			.button-text {
				color: $color_5;
			}
		}
	}
	
}

main {
	width: 100%;
	min-height: 300px;
	margin: 0 auto;
}

.content {
	padding: 0;
	overflow: hidden;
	min-height: 400px;
	position: relative;
	z-index: 1;
	margin-bottom: 70px;
	h2 {
		font-family: $font-family_1;
		font-size: 20px;
		margin-top: 70px;
		margin-bottom: 30px;
		text-align: center;
		background-color: $background-color_4;
		color: $color_1;
		padding: 20px 0;
	}
}

.preloader {
	width: 100%;
	height: 250px;
	background: transparent url('../public/images/loader.gif') no-repeat center center;
	background-size: 100%;
	z-index: 100;
}

.message {
	font-family: $font-family_1;
	padding-top: 120px;
	text-align: center;
	color: $color_3;
	width: 100%;
	height: 100vh;
	max-height: 300px;
	font-weight: bold;
	background-size: 100%;
	z-index: 100;
}

.hidden {
	display: none;
}

restaurant-detail {
	position: relative;
	min-height: 100vh;
	display: block;
	background-color: $background-color_3;
	.preloader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 450px;
		background: transparent url('../public/images/loader.gif') no-repeat center center;
		background-size: 50%;
		z-index: 100;
	}

	.restaurant__picture {
		position: relative;
		img {
			border-top: 3px solid $color_2;
			border-bottom: 3px solid $color_6;
			width: 100%;
		}

		.favorite, .favorited {
			position: absolute;
			bottom: 20px;
			right: 0;
			padding: 0 15px 0 17px;
			font-size: 1.3em;
			background-color: $background-color_1;
			color: $color_1;
			border: none;
			cursor: pointer;
			border-radius: 10px 0 0 10px;
			i {
				pointer-events: none;
			}
		}
	}

	.restaurant__info {
		padding: 20px;
		h4 {
			padding: 8px 0;
		}
	}

	.restaurant__menus {
		text-align: center;
		h3 {
			padding: 10px;
		}

		.menu__list {
			display: flex;
			flex-direction: column;
			color: $color_1;
			padding: 20px;
			.foods, .drinks {
				flex: 1;
				padding: 20px;
				padding-bottom: 30px;
				margin-bottom: 15px;
				h4 {
					padding-bottom: 10px;
				}
				
				li {
					list-style: none;
				}
			}

			.foods {
				background-color: $background-color_6;
			}
			
			.drinks {
				background-color: $background-color_7;
			}
		}
	}

	h3 {
		text-align: center;
		margin: 25px 0;
		color: $background-color_4;
	}

	.load_more_review {
		width: 100%;
		margin-bottom: 10px;
		display: inline-block;
		padding: 10px 20px;
		text-align: center;
		text-decoration: underline;
		font-weight: bold;
		color: $background-color_4;
		cursor: pointer;
		&:hover, &:active {
			color: $background-color_7;
		}
		&.hidden {
			display: none;
		}
	}

	.customer__reviews_list {
		.customer__review {
			background-color: $background-color_5;
			margin-bottom: 10px;
			padding: 15px 20px;
			border-top: 1px solid $background-color_6;
			border-bottom: 1px solid $background-color_7;
			.name {
				margin-bottom: 10px;
			}
			
			.date {
				margin-top: 10px;
				font-size: 14px;
				color: #888;
			}
		}
	}

	.input_new_review {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		input, textArea, button {
			width: 90%;
			max-width: 400px;
			min-height: 44px;
			border: 1px solid $background-color_6;
			border-radius: 5px;
			outline: none;
			margin-bottom: 15px;
			padding: 10px;
			transition: all .5s;
			&:focus {
				box-shadow: 0 0 0 2px #c0430979;
			}
		}
		
		button {
			margin-bottom: 40px;
			background-color: $background-color_7;
			border: none;
			color: $color_1;
			cursor: pointer;
			&:focus {
				box-shadow: 0 0 0 3px #0a504a79;
				background-color: #0a504a79;
			}
		}
	}

	div.message {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}


restaurant-list {
	display: block;
	width: 100%;
	min-height: 300px;
}

restaurant-item {
	display: block;
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	overflow: hidden;
	background-color: $background-color_3;
	box-shadow: 0 3px 10px #3335;
	img {
		position: relative;
		width: 100%;
		background-color: $background-color_5;
		min-height: 200px;
		max-height: 200px;
		min-width: 100%;
		object-fit: cover;
		object-position: center;
		border-top: 5px solid $color_2;
		border-bottom: 5px solid $color_6;
	}
}

.restaurant__content {
	position: relative;
	padding: 15px;
	color: $color_5;
}

::-webkit-scrollbar {
	width: 10px;
	background: transparent;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $background-color_1; 
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 5px $background-color_4; 
	background: $background-color_1; 
}

.restaurant__city {
	position: absolute;
	top: 10px;
	left: 0;
	background-color: $background-color_1;
	color: $color_1;
	padding: 8px 10px;
	padding-right: 15px;
	font-weight: bold;
	border-radius: 0 15px 15px 0;
	box-shadow: 0 0 10px #2225;
}

.restaurant__rating {
	font-size: 20px;
	color: $color_6;
	margin-bottom: 10px;
}

.restaurant__title {
	font-size: 20px;
	margin-bottom: 10px;
	line-height: 44px;
	a {
		text-decoration: none;
		color: $color_3;
		min-width: 44px;
		min-height: 44px;
		&:hover, &:active {
			text-decoration: underline;
		}
	}
}

.restaurant__description {
	word-spacing: 4px;
	margin-bottom: 15px;
}

footer {
	bottom: 0;
	position: fixed;
	font-size: 0.7em;
	width: 100%;
	text-align: center;
	padding: 20px 0;
	color: $color_1;
	background-color: $background-color_1;
}