$color_1: #ffffff;
$color_2: #d6f32e;
$color_3: #615e41;
$color_4: #dfeeda;
$color_5: #222;
$color_6: #ec5f01;
$font-family_1: 'Quicksand', sans-serif;
$font-family_2: 'Signika Negative', sans-serif;
$font-family_3: 'Ropa Sans', sans-serif;
$background-color_1: #6b6237;
$background-color_2: #f2f3cb;
$background-color_3: #ffffff;
$background-color_4: #201609;
$background-color_5: #eff0b5c5;
$background-color_6: #af5500;
$background-color_7: #009474;
$background-color_8: #d6f32e;